:root {
    --red-color: #fe1818;
}

html {
    box-sizing: border-box; 
}
*, *::before, *::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
    clear: both;
  }

.container {
    width: 90%;
}

.center-horizontal {
    margin: auto;
}

.btn {
    background-color: white;
    border-radius: 50px;
    border-style: none;
    color: var(--red-color);
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--red-color);
    color: white;
}


/* ***** HEADER ***** */
.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.nav-options {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.nav-options a {
    color: black;
    padding: 0 10px;
    text-decoration: none;
}

.nav-options a:hover {
    border-bottom: 2px #000 solid;
    padding-bottom: 3px;
}

.sign-in {
    align-items: center;
    display: flex;
    font-size: 40px;
    width: auto;
}

.sign-in i {
    padding: 0 15px;
}

.vertical-line {
    background-color: black;
    height: 40px;
    width: 2px;
}

.shopping-bag {
    height: 40px;
    padding: 0 15px;
}

.burguer-menu {
    display: none;
}

@media (max-width: 768px) {
    .burguer-menu {
        display: block;
    }
    .nav-options {
        display: none;
    }
}

/* ***** BACKGROUND IMAGE ***** */
.back-img {
    background-image: url("../images/banner-01.jpg");
    background-position: center center;
    background-size: cover;
    height: 70vh;
    max-width: 100%;
}

@media (max-width: 768px) {
    .back-img {
        background-image: url("../images/banner-01-resp.jpg");
    }
}

/* ***** BACKGROUND IMAGE INFO ***** */
.arrows {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: space-between;
}

.arrows i {
    color: white;
    font-size: 60px;
    padding: 0 50px;
}

.arrows i:hover {
    color: var(--red-color);
    cursor: pointer;
    opacity: 0.75;
}


.center-img-text {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.center-img-text h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.center-img-text h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
}


@media (max-width: 768px) {
    .arrows i {
        font-size: 40px;
        padding: 0 25px;
    }
    .center-img-text h3 {
        font-size: 20px;
    }
    .center-img-text h1 {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    .arrows i {
        font-size: 30px;
        padding: 0 10px;
    }
}

/* ***** Cards ***** */
.cards-container {
    margin: 50px 0;
    padding: 10px;
    text-align: center;
}

.cards li{
    float: left;
    padding: 10px;
}

.card {
    position: relative;
}

.card img {
    max-width: 100%;
}

@media (min-width: 480px) {
    .cards li {
        width: 50%;
    }   
}

@media (min-width: 768px) {
    .cards li {
        width: 33.3%;
    }   
}

.btn-card {
    border-color: var(--red-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1.5px;
    bottom: 15%;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    transform: translateX(-50%);
    width: 50%;
}

.sign-up {
    font-family: 'Roboto', sans-serif;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sign-up h1{
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

.sign-up p {
    font-size: 4vw;
}

.btn-sign-up {
    background-color: black;
    color: white;
    font-size: 3vw;
    width: 100%;
}

@media (min-width: 480px) {
    .sign-up h1 {
        font-size: 3vw;
    }
    .sign-up p {
        font-size: 2vw;
    }
    .btn-sign-up {
        font-size: 2vw;
    }
}


@media (min-width: 768px) {
    .sign-up h1 {
        font-size: 2vw;
    }
    .sign-up p {
        font-size: 1.2vw;
    }
    .btn-sign-up {
        font-size: 1.2vw;
    }
}

/* ***** Featured ***** */
.arrows-featured {
    font-size: 30px;
}
.featured-section {
    width: 95%;
}

.featured-section h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.featured {
    align-items: center;
    display: flex;
    justify-content: space-around;
}


.featured-products img {
    max-width: 100%;
    width: 260px;
}

.featured-products {
    position: relative;
}

.featured-products p {
    background-color: #87F4BC;
    border-radius: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    left: 5%;
    padding: 5px 10px;
    position: absolute;
    top: 0%;
}

.btn-add-cart {
    bottom: 30px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.fa-heart {
    color: var(--red-color);
    font-size: 25px;
    position: absolute;
    right: 25px;
    top: 18px;
}

.fa-heart:hover {
    cursor: pointer;
    font-size: 30px;
}