:root {
    --red-color: #fe1818;
}

html {
    box-sizing: border-box; 
}
*, *::before, *::after {
    box-sizing: inherit;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
    clear: both;
  }

.container {
    width: 90%;
}

.center-horizontal {
    margin: auto;
}

.btn {
    background-color: white;
    border-radius: 50px;
    border-style: none;
    color: var(--red-color);
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--red-color);
    color: white;
}

.title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 50px 0;
}


/* ***** HEADER ***** */
.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.nav-options {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.nav-options a {
    color: black;
    padding: 0 10px;
    text-decoration: none;
}

.nav-options a:hover {
    border-bottom: 2px black solid;
    padding-bottom: 3px;
}

.sign-in {
    align-items: center;
    display: flex;
    font-size: 40px;
    width: auto;
}

.sign-in i {
    padding: 0 15px;
}

.vertical-line {
    background-color: black;
    height: 40px;
    width: 2px;
}

.shopping-bag {
    height: 40px;
    padding: 0 15px;
}

.burguer-menu {
    display: none;
}

.back-img {
    background-position: center center;
    background-size: cover;
    height: 70vh;
    max-width: 100%;
}

@media (max-width: 768px) {
    .burguer-menu {
        display: block;
    }
    .nav-options {
        display: none;
    }
}

/* ***** BACKGROUND IMAGE ***** */
.banner-url {
    background-image: url("../images/banner-01.jpg");
}

@media (max-width: 768px) {
    .back-img {
        background-image: url("../images/banner-01-resp.jpg");
    }
}

/* ***** BACKGROUND IMAGE INFO ***** */
.arrows {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: space-between;
}

.arrows i {
    color: white;
    font-size: 60px;
    padding: 0 50px;
}

.arrows i:hover {
    color: var(--red-color);
    cursor: pointer;
    opacity: 0.75;
}


.center-img-text {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.center-img-text h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.center-img-text h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
}


@media (max-width: 768px) {
    .arrows i {
        font-size: 40px;
        padding: 0 25px;
    }
    .center-img-text h3 {
        font-size: 20px;
    }
    .center-img-text h1 {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    .arrows i {
        font-size: 30px;
        padding: 0 10px;
    }
}

/* ***** Cards ***** */
.cards-container {
    margin: 50px 0;
    padding: 10px;
    text-align: center;
}

.cards li{
    float: left;
    padding: 10px;
}

.card {
    position: relative;
}

.card img {
    max-width: 100%;
}

@media (min-width: 480px) {
    .cards li {
        width: 50%;
    }   
}

@media (min-width: 768px) {
    .cards li {
        width: 33.3%;
    }   
}

.btn-card {
    border-color: var(--red-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1.5px;
    bottom: 15%;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    transform: translateX(-50%);
    width: 50%;
}

.sign-up {
    font-family: 'Roboto', sans-serif;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sign-up h1{
    font-size: 5vw;
}

.sign-up p {
    font-size: 4vw;
    margin: 10px 0;
}

.btn-sign-up {
    background-color: black;
    color: white;
    font-size: 3vw;
    width: 100%;
}

@media (min-width: 480px) {
    .sign-up h1 {
        font-size: 3vw;
    }
    .sign-up p {
        font-size: 2vw;
    }
    .btn-sign-up {
        font-size: 2vw;
    }
}


@media (min-width: 768px) {
    .sign-up h1 {
        font-size: 2vw;
    }
    .sign-up p {
        font-size: 1.2vw;
    }
    .btn-sign-up {
        font-size: 1.2vw;
    }
}

/* ***** Featured ***** */
.arrows-featured {
    font-size: 30px;
}
.featured-section {
    width: 95%;
}

.featured {
    align-items: center;
    display: flex;
    justify-content: space-around;
}


.featured-products img {
    max-width: 100%;
    width: 260px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

.featured-products {
    background-color: #F4FCFC;
    border-radius: 5px;
    box-shadow: 0 5px 5px #F4FCFC, 0 -5px 5px #F4FCFC, 5px 0 5px #F4FCFC, -5px 0 5px #F4FCFC;
    position: relative;
}

.in-image {
    background-color: #87F4BC;
    border-radius: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    left: 25px;
    padding: 5px 10px;
    position: absolute;
    top: 18px;
}

.btn-add-cart {
    bottom: 100px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    font-size: 14px;
}

.fa-heart {
    color: var(--red-color);
    font-size: 30px;
    position: absolute;
    right: 25px;
    top: 18px;
}

.fa-heart:hover {
    cursor: pointer;
    font-size: 30px;
}

.specifications {
    margin: 5px 15px;
}

.specifications p {
    margin: 0 0 10px 0;
}

.price-offer {
    display: flex;
}

.price-offer p:first-child {
    text-decoration: line-through;
}

.price-offer p:last-child {
    color: var(--red-color);
    margin-left: 10px;
    text-decoration: none;
}


/* **** COUNTER **** */
.counter {
    background-image: url(../images/banner-02.jpg);
    position: relative;
    margin-top: 100px;
}

.next-event {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.next-event-header {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 5vw;
    margin: 0;
    text-align: center;
    text-shadow: 5px 0 5px var(--red-color), -5px 0 5px var(--red-color), 0 5px 5px var(--red-color), 0 -5px 5px var(--red-color);
    text-transform: capitalize;
}

.days-left {
    align-items: center;
    display: flex;
    justify-content: center;
}

.count {
    align-items: center;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: var(--red-color);
    display: flex;
    flex-direction: column;
    font-family: 'Alfa Slab One', cursive;
    justify-content: center;
    margin: 0 10px;
    text-shadow: 5px 0 5px white, -5px 0 5px white, 0 5px 5px white, 0 -5px 5px white;
    width: 200px;
}

.count p:last-child {
    font-size: 4vw;
    margin: 0;
}

@media (min-width: 320px) {
    .next-event-header {
        font-size: 10vw;
    }
    .count {
        font-size: 2vw;
        padding: 0 3px;
        width: auto;
    }
    .count p:last-child {
        font-size: 5vw;
    }
}

@media (min-width: 768px) {
    .next-event-header {
        font-size: 8vw;
    }
    .count {
        font-size: 2vw;
        padding: 0 3px;
        width: 170px;
    }
}

@media (min-width: 768px) {
    .next-event-header {
        font-size: 7vw;
    }
    .count {
        font-size: 1.5vw;
    }
}

@media (min-width: 1024px) {
    .next-event-header {
        font-size: 5vw;
    }
    .count {
        font-size: 1.25vw;
        padding: 0 3px;
        width: 200px;
    }
    .count p:last-child {
        font-size: 4vw;
    }
}

/* **** BLOG **** */

.blog-cards-container {
    margin: 50px 200px;
    text-align: center;
    text-align: left;
}


.blog-info {
    font-family: 'Quicksand', sans-serif;
    margin: 0 25px;
    height: 150px;
}

@media (min-width: 320px) {
    .blog-cards-container {
        margin: 50px 0;
    }
    .blog-info {
        height: 170px;
    }
}

@media (min-width: 600px) {
    .blog-cards-container {
        margin: 50px 10px;
    }
}

@media (min-width: 600px) {
    .blog-cards-container {
        margin: 50px 25px;
    }
    .blog-info {
        height: 250px;
    }
}

@media (min-width: 1024px) {
    .blog-cards-container {
        margin: 50px 0;
    }
    .blog-info {
        height: 150px;
    }
}

@media (min-width: 1200px) {
    .blog-cards-container {
        margin: 50px 110px;
    }
    .blog-info {
        height: 150px;
    }
}

.blog-info h1 {
    margin: 0 0 0 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.blog-info h3 {
    font-size: 15px;
    font-weight: 300;
}

.blog-info span {
    font-weight: bold;
}

.blog-info p {
    margin: 10px -5px;
}