.contact-form {
    font-family: var(--roboto);
    margin: 50px auto;
    text-align: center;
    width: 95%;
}

.contact {
    border: solid var(--red-color) 3px;
    padding-bottom: 50px;
}

.contact legend {
    color: var(--red-color);
    font-family: var(--alfa);
    font-size: 40px;
    margin: 0;
}

.contact h1 {
    color: var(--gray-color);
    font-size: 30px;
}

.contact input, textarea {
    border-color: var(--gray-color);
    border-width: 2px;
    outline: none;
    padding: 10px;
    width: 90%;
}

.contact textarea {
    height: 50vh;
    resize: none;
}

@media (min-width: 768px) {
    .contact-form {
        width: 50%;
    }
}