.cart-container {
    font-family: var(--roboto);
    margin: 50px auto;
    width: 95%;
}

.cart-container {
    text-align: center;
    font-weight: bold;
}
.cart-container p {
    font-size: 30px;
    text-align: center;
}

.cart-item {
    margin: 30px 0;
}

.cart-item img {
    max-width: 300px;
    min-width: 275px;
    width: 100%;
}

.cart-item-description {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-item-description p {
    font-size: 15px;
}

.price-breakdown span {
    font-weight: bold;
}

@media (min-width: 480px) {
    .cart-item-description p {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .cart-item {
        align-items: center;
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: 1fr 2fr;
    }
    .cart-item-description {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 50px;
    }
}

@media (min-width: 900px) {
    .cart-item-description p {
        font-size: 25px;
    }
}

@media (min-width: 1024px) {
    .cart-container {
        width: 60%;
    }
}