.blog-admin fieldset {
    border: 3px solid var(--red-color);
    border-radius: 5px;
    font-family: var(--roboto);
    margin: 50px auto;
    text-align: center;
    width: 90%;
}

.blog-admin legend {
    color: var(--red-color);
    font-family: var(--alfa);
    font-size: 35px;
    margin: 0;
}

.blog-admin h1 {
    font-size: 25px;
}

.blog-admin input {
    border: 2px solid var(--gray-color);
    outline: none;
    padding: 10px;
    width: 50%;
}

.blog-admin textarea {
    height: 20vh;
    resize: none;
}
