.each-item-description {
    text-align: center;
    margin-bottom: 15px;
    font-family: var(--roboto);
}
.each-item-description h1 {
    font-size: 15px;
}

.each-item-description h5 {
    margin: 0;
    font-size: 15px;
    color: var(--gray-color);
    font-weight: lighter;
}

.each-item-description h5 span {
    font-weight: bold;
}