@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@300&display=swap');
@import 'base/normalize';
@import 'base/mixins';
@import 'base/variables';
@import 'base/globals';

@import 'screens/auth';
@import 'screens/about-us';
@import 'screens/blog';

@import 'components/banner-image';
@import 'components/blog-section';
@import 'components/card';
@import 'components/cards';
@import 'components/header';
@import 'components/hifive-pros';
@import 'components/footer';
@import 'components/social-media';
@import 'components/blog-categories';
@import 'components/recent-blog-post';
@import 'components/post';
