.blog-post {
    font-family: var(--roboto);
    margin: 40px auto;
    width: 90%;
}

.blog-section {
    margin: 60px auto;
}

.search-blog {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.search-blog {
    font-family: var(--roboto);
}

.search-blog input {
    border-color: var(--red-color);
    border-style: solid;
    margin-bottom: 10px;
    outline: none;
    padding: 10px 5px;
}

.search-blog button {
    background-color: var(--red-color);
    color: white;
    padding: 10px 5px;
    transition: all ease-in 0.3s;
}

.search-blog button:hover {
    filter: brightness(1.5);
}

.blog-filters {
    width: 90%;
    margin: auto;
}

.blog-filter-section {
    color: var(--gray-color);
    font-family: var(--roboto);
    margin: auto;
    width: 95%;
}

.blog-filter-section h1 {
    margin: 15px 0;
}

.blog-filter-section p {
    margin: 10px 0;
    transition: all ease-in 0.3s;
}

.blog-filter-section p:hover {
    color: var(--red-color);
    cursor: pointer;
}

.recent-post-blog {
    align-items: center;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 25px 0;
}

.recent-post-blog img:hover {
    cursor: pointer;
    filter: opacity(0.5);
}

.recent-post-blog h2 {
    font-size: 20px;
}

.recent-post-blog p {
    font-size: 15px;
}

.recent-post-blog img {
    max-width: 100%;
    min-width: 110px;
}

@media (min-width: 768px) {
    .blog-section {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }
    .blog-filters {
        margin: 45px 0 0 0;
    }
    .blog-section {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .blog-section {
        width: 70%;
    }
}