/* Colors */
$black: #000;
$gray: #252525;
$green: #BADA55;
$light-gray: #D7D7D7;
$red: #FE1818;
$white: #FFF;

/* Font-Families */

$roboto: 'Roboto', sans-serif;
$alfa: 'Alfa Slab One', cursive;

/* Media Queries */
$big-phone: 480px;
$tiny-tablet: 650px;
$tablet: 768px;
$tiny-desktop: 900px;
$desktop: 1024px;
$big-desktop: 1200px;