.card {
    margin: 20px 0;
    position: relative;
}

.card img {
    max-width: 100%;
    width: 100%;
}

.in-middle {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-card {
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 0;
    width: 60%;
}

.btn-card {
    background-color: white;
    border-width: 3px;
    border-color: var(--red-color);
    border-style: solid;
    color: var(--red-color);
    font-family: var(--roboto);
    transition: all ease-in 0.3s;
}

.btn-card:hover {
    background-color: var(--red-color);
    border-color: white;
    color: white;
    cursor: pointer;
}