.sidebar {
    align-items: center;
    background-color: var(--green-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.sidebar h1 {
    font-family: var(--roboto);
    font-size: 30px;
    text-align: left;
    transition: all ease-in 0.3s;
    text-align: center;
    white-space: nowrap;
}

.sidebar h1:hover {
    cursor: pointer;
    filter: opacity(0.5);
}