
.footer {
    background-color: #D7D7D7;
    padding: 50px 0;
    width: 100%;
}

.footer-container {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
    margin: auto;
    width: 85%;
}

.info-section {
    color: var(--gray-color);
}

.info-section img {
    margin: 0 0 10px 0;
}

.info-section h1 {
    color: var(--gray-color);
    margin: 0 0 10px 0;
    font-family: var(--roboto);
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.info-section p {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.link p {
    transition: all ease-in 0.3s;
}

.link p:hover {
    color: var(--red-color);
    cursor: pointer;
}