.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    width: 95%;
}

.hifive-logo {
    height: 30px;
}
.nav-options {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-options a {
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: var(--gray-color);
    font-family: var(--roboto);
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
    transition: all ease-in 0.3s;
}

.nav-options a:hover {
    border-bottom-color: var(--red-color);
    color: var(--red-color);
    cursor: pointer;
}

.sign-in-section {
    align-items: center;
    display: flex;
}

.division {
    background-color: var(--gray-color);
    border-radius: 5px;
    height: 25px;
    margin: 0 15px;
    width: 3px;
}

.icon {
    font-size: 35px;
    transition: all ease-in 0.3s;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.active {
    color: var(--red-color);
}

.active:hover {
    filter: brightness(1.5);
}

@media (min-width: 900px) {
    .header {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .header {
        width: 80%;
    }
}