.about-us {
    margin: 0 auto 50px auto;
    width: 95%;
}

.about-us h1 {
    color: var(--gray-color);
    font-family: var(--alfa);
    margin-bottom: 25px;
    text-align: center;
}

.about-us p {
    font-family: var(--roboto);
    margin: 25px 10px;
    text-indent: 30px;
}

.about-us-layout img {
    max-width: 100%;
    width: 100%;
}

@media (min-width: 900px) {
    .about-us-layout {
        align-items: center;
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: 1fr 1fr;
    }   
    .about-us p {
        margin: 0 10px;
    }
    .about-us p:last-child {
        margin-top: 25px;
    }
}

@media(min-width: 1024px) {
    .about-us p {
        font-size: 1.5vw;
    }
}