.card__card {
    margin: 20px 0;
    position: relative;

    img {
        max-width: 100%;
        width: 100%;
    }
}

.card__in-middle {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card__btn-card {
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 0;
    width: 60%;
    background-color: $white;
    border-width: 3px;
    border-color: $red;
    border-style: solid;
    color: $red;
    font-family: $roboto;
    transition: all ease-in 0.3s;

    &:hover {
        background-color: $red;
        border-color: $white;
        color: $white;
        cursor: pointer;
    }
}