.cards__departments-h1 {
    color: $gray;
    font-size: 30px;
    font-family: $alfa;
    margin: 20px 0;
}

.cards__cards-layout {
    margin: 20px auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;

    @include tiny-tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
    }
    @include tiny-desktop {
        grid-template-columns: repeat(3, 1fr);
    }

}