:root {
  --gray-color: #252525;
  --roboto: 'Roboto', sans-serif;
  --alfa: 'Alfa Slab One', cursive;
  --red-color: #fe1818;
}

a {
  text-decoration: none;
  color: var(--gray-color);
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

button {
  border-style: none;
  font-weight: bold;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
}

.btn {
  font-weight: bold;
}

.center {
  margin: auto;
}

.center-text {
  text-align: center;
}

.black-border {
  text-shadow: 3px 0px 5px black,
              -3px 0 5px black,
              0 3px 5px black,
              0 -3px 5px black;
}

.red-border {
  text-shadow: 5px 0px 5px var(--red-color),
              -5px 0 5px var(--red-color),
              0 5px 5px var(--red-color),
              0 -5px 5px var(--red-color);
}